<!-- Site Footer -->
<div class='row'>
    <hr/>
    <footer class="site-footer">
        <div class="twelve columns ">
            <div class="row">
                <ul class="footer-links-list">
                    <li><a href="https://github.com/{{ GITHUB_USERNAME }}">github</a> · </li>
                    <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}">twitter</a> · </li>
                    <li><a href="http://www.last.fm/user/{{ LASTFM_USERNAME }}">last.fm</a> · </li>
                    <li><a href="mailto:mark+blog@feltner.me">email</a></li>
                </ul>
            </div>
            <div class="row">
            <div class="row">
                <ul class="footer-links-list">
                    <li><a href="{{ SITE_URL }}/feeds/all.rss.xml">rss</a> · </li>
                    <li><a href="{{ SITE_URL }}/feeds/all.atom.xml">atom</a> · </li>
                    <li><a href="{{ SITE_URL }}/style-guide">style</a> · </li>
                    <li><a href="{{ SITE_URL }}/credits">credits</a></li>
                </ul>
            </div>
            <div class="row footer-copyright">
                <p>© 2015, Mark Feltner
                <p>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a
                    <br><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
            </div>
        </div>
    </footer>
</div>
