<!-- Git repository information -->
<span class="page-source-info">
<p><small><i class="icon-view"><a title="view source" target="_blank" href="{{links.source}}/blob/master/{{page.src}}">v</a></i> | <i class="icon-edit"><a title="edit" target="_blank" href="{{links.source}}/edit/master/{{page.src}}">e</a></i> | <i class="icon-release"><a title="release number" target="_blank" href="{{links.source}}/releases/{{PACKAGE.version}}">{{PACKAGE.version}}</a></i> | <i class="icon-sha"><a title="initial commit sha"
target="_blank" href="{{links.source}}/commit/{{add_sha page.src}}">{{add_sha page.src}}</a></i> | <i class="icon-sha"><a title="last edit sha" target="_blank" href="{{links.source}}/commit/{{edit_sha page.src}}">{{edit_sha page.src}}</a></i></small></p>
</span>


