<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js' itemscope itemtype='http://schema.org/WebPage'> <!--<![endif]-->
<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site Metadata -->
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">
<meta name="description" content="{% block description %}{% if article and article.summary %}{{ article.summary | striptags }}{% else %}{{ DESCRIPTION | striptags }}{% endif %}{% endblock %}">

    <link rel="canonical" href="{{ SITEURL }}">
    <link rel="humans" type="text/plain" href="{{ SITEURL }}/humans.txt">
    <link rel="hackers" type="text/plain" href="{{ SITEURL }}/hackers.txt">
    {% include "includes/feeds.html" %}
    {% include "includes/favicons.html" %}
    {% include "includes/styles.html" %}
    <script type="text/javascript" src="{{SITE_URL}}/theme/bundle.js"></script>

</head>
    <body>
        <!--[if lt IE 7]>
            <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class='container'>
            <div class='row'>
                {% include 'includes/header.html' %}
                {% include 'includes/nav.html' %}
            </div>

            <div class='row'>
                {% block content %}{% endblock %}
            </div>

            <div class='row'>
                {% include 'includes/footer.html' %}
            </div>

            {% include 'includes/scripts.html' %}
            {% include 'includes/analytics.html' %}
        </div>

    </body>
</html>
